firstCarSogang_backend/firstCarSogang_signuplogin/__pycache__/
firstCarSogang_backend/firstCarSogang_home/__pycache__/
firstCarSogang_backend/user/
firstCarSogang_backend/firstCarSogang_signuplogin/migrations/
