firstCarSogang_backend/firstCarSogang_signuplogin/__pycache__/*
firstCarSogang_backend/firstCarSogang_home/__pycache__/*
firstCarSogang_backend/user_profile/*
firstCarSogang_backend/firstCarSogang_signuplogin/migrations/*
firstCarSogang_backend/firstCarSogang_backend/__pycache__/*
firstCarSogang_backend/firstCarSogang_tickets/__pycache__/*