
<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="login_box_img">
               <div class="hover">
                  <img style="width: 70%;" src=" " alt="">
               </div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="login_form_inner">
               <h3>비밀번호를 찾기 위해 세인트 이메일을 입력해주세요</h3>
               <form class="row login_form" method="post" action="{% url 'send_otp' %}">
                  {% csrf_token %}
                  <div class="col-md-12 form-group">
                     <input name="email" type="text" class="form-control" id="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                  </div>
                  <div class="col-md-12 form-group">
                     <button type="submit" value="submit" class="button w-100"> OTP 전송 </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
